In [2]:
import pandas as pd

In [3]:
frame = pd.DataFrame({'a' : ['the cat is blue', 'the sky is green', 'the dog is black']})

In [4]:
mylist = ['dog', 'cat', 'fish']
pattern = '|'.join(mylist)

In [6]:
pattern

'dog|cat|fish'

In [5]:
frame.a.str.contains(pattern)

0     True
1    False
2     True
Name: a, dtype: bool

In [27]:
dfTp = pd.read_csv('TokPedScrapperOut/Kulkas Samsung2020-06-06.csv')
dfSa = pd.read_csv('TokPedScrapperOut/KulkasSamsung.csv')

In [28]:
saName = dfSa['tipeKulkas']
dfSa.tipeKulkas = dfSa.tipeKulkas.apply(lambda x: x.replace('/SE',''))
saName = saName.array

In [29]:
pattern = '|'.join(saName)

In [30]:
pattern

'RT35K5030B1|RT38K503JS8|RT38K5030B1|RR18R1000SA|RS64R5141SL|RS62R5001SL|RS62R5041B4|RS63R5561B4|RS61R5001M9|RT25FARBDSA|RT29K5032DX|RT35K5032DX|RT38K5032DX|RT22FARBDSA|RT19M300BGS|RT29K5032S8|RT62K7011BS|RT32K5032S8|RT43K6231S8|RT46K6231BS|RT46K6231S8|RT50K6241S8|RT38K5032S8|RT53K6231BS|RT20FARWDSA'

In [16]:
dfTp.name.str.contains(pattern)

0       False
1       False
2        True
3        True
4        True
        ...
5116    False
5117     True
5118    False
5119    False
5120    False
Name: name, Length: 5121, dtype: bool

In [ ]:
import re
def pattern_searcher(search_str:str, search_list:str):
    search_obj = re.search(search_list, search_str)
    if search_obj :
        return_str = search_str[search_obj.start(): search_obj.end()]
    else:
        return_str = 'NA'
    return return_str

In [31]:
dfTp['matched_str'] = dfTp['name'].apply(lambda x: pattern_searcher(search_str=x, search_list=pattern))

In [34]:
dfTp[['name', 'matched_str']]

                                                   name  matched_str
0     DEFROST-BIMETAL KULKAS 3 KABEL ST-3 + FUSE DAL...           NA
1                    Thermistor kulkas samsung original           NA
2     SAMSUNG RT29K5032S8 Kulkas 2 Pintu Twin Coolin...  RT29K5032S8
3     Samsung RT25FARBDSA Kulkas Lemasi ES 2 Pintu R...  RT25FARBDSA
4         SAMSUNG - BIG 2 DOOR REFRIGERATOR RT46K6231BS  RT46K6231BS
...                                                 ...          ...
5116                   Inverter Kulkas Samsung RT41TSGL           NA
5117  PCB modul inverter kulkas samsung RT25FARBDSA ...  RT25FARBDSA
5118  Samsung Kulkas RT 20FAR WDWW - PUTIH -Inverter...           NA
5119                              KULKAS SAMSUNG 22 FAR           NA
5120             TERMIS kulkas 2 PINTU SAMSUNG oryginal           NA

[5121 rows x 2 columns]

In [20]:
mylist = ['dog', 'cat', 'fish']
pattern = '|'.join(mylist)

In [21]:
import re
def pattern_searcher(search_str:str, search_list:str):

    search_obj = re.search(search_list, search_str)
    if search_obj :
        return_str = search_str[search_obj.start(): search_obj.end()]
    else:
        return_str = 'NA'
    return return_str

In [22]:
frame['matched_str'] = frame['a'].apply(lambda x: pattern_searcher(search_str=x, search_list=pattern))

https://stackoverflow.com/questions/17972938/check-if-string-in-pandas-dataframe-column-is-in-list